#inventory{
    display: flex;
    flex-wrap: wrap;
}
.inventory_wrapper {
    width: fit-content;
    padding: 20px;
}

.inventory {
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    width: fit-content;
    padding: 20px;
    color: white;
}

.inventory_subsection {
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    width: 100%;
    border: 1px solid black;
    border-radius: 3px;
    position: relative;
}

.inventory_subsection > span {
    position: absolute;
    top: 0px;
    left: 0px;
    color:white;
    font-size:medium;
    text-shadow: 2px 1px 5px black;
}

.inventory_slot{
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
}

.inventory_slot > img{
    max-width: 40px;
    max-height: 40px;
    height: 40px;
}

.inventory_slot.missing > img{
    filter: grayscale(100%) contrast(75%) brightness(30%);
}

.inventory_slot > span {
    position: absolute;
    color: white;
    font-size:medium;
    text-shadow: 2px 1px 5px black;
    bottom:0;
    right:0;
}

.gold > img {
    filter: hue-rotate(45deg)
}

.maxed > span {
    color: lawngreen;
}

